/*CSS Style Sheet */
body{ 
    font-family: 'Roboto' , sans-serif;
    font-size: 10px;
}
.container {
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.nav a, button, span{
    padding: 10px;
    text-decoration: none;
}
.nav button{
    background-color: rgba(19, 156, 247, 0.979);
    color: white;
    border-style:none;
    border-radius: 3px;
}

.right-flex, .left-flex {
    display:flex;
    flex-direction: inline-block;
}
.main{
display: flex;
justify-content: space-evenly;
flex-direction: column;
width: 80%;
max-width: 90%;
margin: 10em auto;
}
.btns {
    margin: -7em auto;

}
.btn {
    background-color: #f3f2f27e;
    border-radius: 5px;
    border-style:none;
}
.footer {
    list-style: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f3f2f27e;
    left: 0px;
}
ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer li {
    display: inline-block;
}
.footer a {
    display: inline;
    text-decoration: none;
    text-align:center;
    padding: 1rem .5em;
}
.footer-left {
    display: flex;
    flex-direction: row;
    align-items: left; 
    flex-wrap: nowrap;
}
.footer-right{
    display: flex;
    flex-direction: row;
    align-items: right;
}


#logo{
    margin: 20px auto;
    text-align: center;
}

#search{
    margin: 5px auto;
    border-radius: 20px;
    padding: .5rem 11rem;
    border-color: rgba(5, 4, 4, 0.356);
}
.search-bar{
    margin: 0 auto;
    position: relative;
    width: 100%;
    text-align: center;
}
.bar:hover {
    box-shadow: 0 0 11px;
}

#glass{
    position: absolute;
    margin-left: .5em;
}

